<div>

    <h2>Crear una celebridad</h2>

    <form action="/celebrities/create" method="post">

        <label for="name">Nombre celebridad</label>
        <input type="text" name="name">
    <br>
        <label for="occupation">Ocupación</label>
        <input type="text" name="occupation">
    <br>
        <label for="catchPhrase">Eslogan</label>
        <input type="text" name="catchPhrase">

    <br>
        <button>Añadir celebridad</button>
    </form>

</div>