<h1>Lab de Peliculas</h1>
<p>Página web para probar las funciones en creación de peliculas y celebridades</p>

<br>

<!-- <nav>
<a href="/celebrities/create">Crear una celebridad</a>
<a href="/celebrities">Lista de celebridades</a>
<br>
<a href="/movies/create">Crear una pelicula</a>
<a href="/movies">Lista de peliculas</a>


</nav> -->